body{
    background-color:#f0f2f5;
}

h1{
    color:#166fee;
    text-align: center;
}
#crc{
    color:#5e068a;
    /* color: hsl(326°, 60%, 39%); */
    /* hue-0=360  sat-100% ligh-100%*/
}

.btn{
    background-color: #5e068a;
    color: white;
    width: 90px;
    height: 40px;
}