*{
  box-sizing: border-box;
}
body{
    background-color: darkcyan;
    margin: 0;
    max-width: 100vw;
    
}
.main{
    height: 300px;
    min-width: 100%;
    
    min-height: 400px;  
        /* background-color: #fbfbfb; */
     margin-top: 88px;
    display: flex;
    justify-content: space-evenly;
}

div img{
    height: 300px;  
      width: 100%;   
  }
  .row{
      width: 300px;
      height: 800px;
  }
  .row:nth-child(1){
    border: solid tomato 2px ;  
  }
  .row:nth-child(2){
    border: solid tomato 2px ;  
  }
  .row:nth-child(3){
    border: solid tomato 2px ;  
  }

  .row:nth-child(4){
    border: solid tomato 2px ;  
  }

  .row h3{
    color:#56068a;
    padding: 20px;
}
.row p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 28px;
    padding: 20px;
    text-align: justify;
}
h1{
    color: white;
    text-align: center;
    
}
header{
  position: absolute;
  top: 0;
  width: 100%;
  background-color: cornflowerblue;
  padding: 20px;
}
.container{
  display: flex;
  justify-content: space-around;
}

.container a{
  text-decoration: none;
  margin-right: 100px;
  color: blanchedalmond;
  padding: 10px;
}
.container a:hover{
  background-color: burlywood;
}
.row-1{
  height: 300px;
  width: 100%;
  
  min-height: 400px;  
      /* background-color: #fbfbfb; */
   margin-top: 88px;
  display: flex;
  justify-content: space-around;
}
.main-1{
margin-top: 450px;

}